@import './components/Header/Header.scss';
@import './components/Profile/Profile.scss';
@import './components/Sidebar/Sidebar.scss';
@import './components/Dialogs/Dialogs.scss';

// ------------------------------------------------------------ GENERAL
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: unset;
}

body {
    background-color: rgba(248, 248, 248, 1);
}

.app-wrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 4rem 1fr;
    grid-template-areas: 
        "header header"
        "sidebar content";
    .content {
        grid-area: content;
        background-color: rgba(214, 214, 214, .3);
    }
}





