.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-area: header;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #f8f8f8;
  box-shadow: 0px 10px 20px rgba(55, 55, 55, 0.1);
}
.header img {
  width: 3rem;
  margin: 0 1rem;
}

.profile-content .user-info .image-container {
  height: 25rem;
  overflow: hidden;
}
.profile-content .user-info .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile-content .user-info .user-data {
  padding: 1rem;
}
.profile-content .posts-section {
  padding: 1rem;
  min-height: 30vh;
}
.profile-content .posts-section .posts-title {
  font-weight: 300;
}
.profile-content .posts-section .posts-panel {
  width: 100%;
  display: grid;
  justify-items: flex-start;
  align-items: center;
}
.profile-content .posts-section .posts-panel textarea {
  outline: none;
  width: 45%;
  height: 7vh;
  border-radius: 10px;
  border: 1px solid rgba(165, 138, 138, 0.3);
  background-color: #f8f8f8;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.4rem;
}
.profile-content .posts-section .posts-panel .btn {
  margin: 1rem 0;
  font-size: 1rem;
  padding: 0.7rem;
}
.profile-content .posts-section .posts-container .post {
  display: grid;
  grid-template-columns: 7rem 1fr;
  align-items: center;
  border-top: 1px solid rgba(165, 138, 138, 0.3);
  margin: 1rem 0;
  padding: 0.7rem;
}
.profile-content .posts-section .posts-container .post__avatar {
  width: 100%;
  height: 7rem;
  overflow: hidden;
  border-radius: 50%;
}
.profile-content .posts-section .posts-container .post__avatar img {
  width: 100%;
}
.profile-content .posts-section .posts-container .post__text {
  margin: 0 1rem;
  font-size: 1.1rem;
}

.sidebar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-area: sidebar;
  background-color: #f8f8f8;
  align-items: flex-start;
  justify-content: center;
  justify-items: center;
  box-shadow: 10px 0px 20px rgba(55, 55, 55, 0.1);
  position: relative;
  z-index: 9;
  min-height: 90vh;
  width: 10vw;
  transition: 0.3s;
}
.sidebar__menu {
  width: 70%;
  display: grid;
  grid-template-rows: auto;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 6rem;
  margin-top: 5rem;
}
.sidebar__menu .menu-item {
  justify-self: flex-start;
  margin: 0.6rem;
}
.sidebar__menu .menu-item.setting {
  margin-top: 2rem;
}
.sidebar__menu .menu-item .link {
  font-size: 1.1rem;
  color: #6c6c6c;
}
.sidebar__menu .menu-item .link-active {
  color: black;
}

.dialogs {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  height: 100%;
}
.dialogs__items {
  padding: 0.5rem;
}
.dialogs__items .dialog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem 0;
  padding: 0.4rem 0;
  justify-items: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}
.dialogs__items .dialog:hover {
  background-color: rgba(55, 55, 55, 0.2);
}
.dialogs__items .dialog__avatar {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 50%;
}
.dialogs__items .dialog__avatar img {
  width: 100%;
}
.dialogs__items .dialog__username {
  justify-self: flex-start;
}
.dialogs__messages {
  padding: 1rem;
  display: grid;
  grid-template-rows: 5fr 1fr;
  border-left: 1px solid rgba(55, 55, 55, 0.1);
}
.dialogs__messages .textinput {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: flex-start;
  align-items: center;
  padding: 1rem;
}
.dialogs__messages .textinput .input-area {
  height: 100%;
  width: 100%;
}
.dialogs__messages .textinput .btn {
  justify-self: flex-start;
  margin-left: 1rem;
}

.users {
  display: grid;
  grid-gap: 1rem;
  justify-items: center;
  margin: 2rem;
}
.users .single-user {
  display: grid;
  grid-template-columns: 10vw 20vw;
  align-items: center;
  justify-items: center;
  padding: 1rem;
  background-color: #f6f6f6;
  box-shadow: 0 10px 30px #d6d6d6;
  border-radius: 15px;
}
.users .single-user__photo {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden;
}
.users .single-user__photo img {
  width: 100%;
  object-fit: cover;
}
.users .single-user__info {
  justify-self: flex-start;
  color: #484848;
  grid-row: 1/3;
  grid-column: 2/3;
  margin-left: 1rem;
}
.users .single-user__info .user-name {
  font-size: 1.1rem;
}
.users .single-user__info .user-status {
  color: rgba(72, 72, 72, 0.5);
  font-size: 0.9rem;
}
.users .single-user__info .user-location {
  margin-top: 1rem;
  font-size: 0.9rem;
}
.users .single-user .btn {
  font-size: 0.8rem;
  padding: 0.7rem;
  margin-top: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  background-color: #f8f8f8;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
}

.btn {
  background-color: unset;
  border: 1px solid rgba(78, 78, 78, 0.5);
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.1rem;
  transition: 0.3s;
}
.btn:hover {
  background-color: #4e4e4e;
  color: #f8f8f8;
}
.btn:focus {
  outline: none;
}
.btn.selected {
  background-color: #52baae;
  border: 1px solid rgba(78, 78, 78, 0);
  color: #f8f8f8;
}

.app-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 4rem 1fr;
  grid-template-areas: "header header" "sidebar content";
}
.app-wrapper .content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
  background-color: rgba(214, 214, 214, 0.3);
}